.App-footer {
  background-color: #333;
  color: white;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: left;
}

.App-footer-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.App-footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.App-footer .logo {
  margin: 20px;
  width: 20vw;
  max-width: 100px;
  margin-bottom: 0;
  display: inline-table;
  vertical-align: middle;
}

.App-footer a {
  color: #fff;
}

.App-footer h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.App-footer h3 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 40px;
}
