.App-footer {
  background-color: #000;
  margin: 40px 0 0 0;
  padding: 10vw;
  color: white;
  text-align: left;
  
}

.App-footer .logo {
  margin: 20px;
  width: 20vw;
  max-width: 100px;
  margin-bottom: 0;
  display: inline-table;
  vertical-align: middle;
}

.App-footer a {
  color: #fff;
}