.App-mixer {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 70px;
  padding: 5px;
}

.App-mixer h3 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.App-mixer.below h3 {
  text-decoration: line-through;
  color: #999;
}

.App-mixer input[type=text]{
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px rgba(0,0,0, 0.25);
  max-width: 2.5em;
  padding: 8px;
  background: #242424;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  text-align: center;
}
.App-mixer input[type=text]::after {
  content: '%';
  padding:0;
}
  

.App-mixer input[type=text].changed {
  border: 1px solid #5B615A;
}

@media only screen and (max-width: 480px) {
  .App-mixer {
    max-width: 60px;
  }
}
