.App-mixer {
  flex-direction: column;
  padding: 5px;
}

.App-mixer h3 {
  margin: 0;
}

.App-mixer.below h3 {
  text-decoration: line-through;
  color: #999;
}

.App-mixer h3 {
  display: block;
}

.App-mixer input[type=text]{
  width: 2.5em;
  border-radius: 5px;
  padding: 5px;
  background: #242424;
  color: #fff;
  border: 0;
  text-align: center;
}

.App-mixer input[type=text].changed {
  border: 1px solid #615A5A;
  padding: 4px;
  color: #ff9999;
}
