.App-polls span {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.App-polls .poll {
  flex: 1;
}

.App-polls .poll button {
  display: inline-table;
  text-align: center;
}

.App-polls .poll small {
  display: inline-table;
  text-align: center;
  font-size: 8px;
}