.App-polls {
  display: grid;
  grid-template-columns: 20px 1fr minmax(auto, 960px) 1fr 20px;
  justify-content: center;
  margin-bottom: 16px;
}

.App-polls span {
  display: grid;
  gap: 20px;
  grid-column: 3/4;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  justify-content: center;
}

.App-polls .poll button {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  display: block;
  height: 4em;
  padding: 0;
  text-align: center;
  width: 100%;
}

.App-polls .poll small {
  text-align: center;
  font-size: 8px;
}

