.App-polls {
  max-width: 100%;
  overflow-x: auto;
}

.App-polls span {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.App-polls .poll {
  flex: 1;
}

.App-polls .poll button {
  display: inline-table;
  text-align: center;
  border: 1px solid white;
  background: white;
  border-radius: 5px;
  height: 4em;
  min-width: 7em;
}

.App-polls .poll small {
  display: inline-table;
  text-align: center;
  font-size: 8px;
}