.App-settings input[type="range"] {
  appearance: none;
  background: transparent;
  height: 130px;
  transform: rotate(-90deg);
  width: 150px;
}

@media only screen and (max-width: 480px) {
  input[type="range"] {
    height: 90px;
    position: relative;
    top: -30px;
  }
}

input[type="range"]:focus {
  outline: none;
}

.App-settings input[type="range"]::-webkit-slider-runnable-track {
  background: #fff;
  box-shadow: none;
  margin-left: 5px;
  height: 3px;
}

.App-settings input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 25px;
  margin-top: -11px;
  width: 25px;
}

.App-settings input[type="range"].polls {
  width: 100%;
}

.bar {
  z-index: 1;
  opacity: 0.9;
  border-radius: 3px;
}

.slider h3 {
  margin: 0;
}

.slider-s::-webkit-slider-thumb {
  background: #e04b49;
}

.slider-s::-webkit-slider-thumb {
  background: #e04b49;
}

.slider-m::-webkit-slider-thumb {
  background: #2f80ed;
}

.slider-sd::-webkit-slider-thumb {
  background: #f2c94c;
}

.slider-kd::-webkit-slider-thumb {
  background: #3163a6;
}

.slider-v::-webkit-slider-thumb {
  background: #b12827;
}

.slider-l::-webkit-slider-thumb {
  background: #56ccf2;
}

.slider-c::-webkit-slider-thumb {
  background: #27ae60;
}

.slider-mp::-webkit-slider-thumb {
  background: #219653;
}

.slider-fi::-webkit-slider-thumb {
  background: #d96b97;
}

.slider-ö::-webkit-slider-thumb {
  background: #4d4d4d;
}

/* FIREFOX */
input[type="range"]::-moz-range-track {
  background: #fff;
  box-shadow: none;
  margin-left: 5px;
  height: 3px;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 25px;
  margin-top: -11px;
  width: 25px;
}

.slider-s::-moz-range-thumb {
  background: #e04b49;
}

.slider-s::-moz-range-thumb {
  background: #e04b49;
}

.slider-m::-moz-range-thumb {
  background: #2f80ed;
}

.slider-sd::-moz-range-thumb {
  background: #f2c94c;
}

.slider-kd::-moz-range-thumb {
  background: #3163a6;
}

.slider-v::-moz-range-thumb {
  background: #b12827;
}

.slider-l::-moz-range-thumb {
  background: #56ccf2;
}

.slider-c::-moz-range-thumb {
  background: #27ae60;
}

.slider-mp::-moz-range-thumb {
  background: #219653;
}

.slider-fi::-moz-range-thumb {
  background: #d96b97;
}

.slider-ö::-moz-range-thumb {
  background: #4d4d4d;
}

.s {
  color: #e04b49;
}
.m {
  color: #2f80ed;
}
.sd {
  color: #f2c94c;
}
.kd {
  color: #3163a6;
}
.v {
  color: #b12827;
}
.l {
  color: #56ccf2;
}
.c {
  color: #27ae60;
}
.mp {
  color: #219653;
}
.fi {
  color: #d96b97;
}
.ö {
  color: #4d4d4d;
}
