input[type="range"]{
  -webkit-appearance: slider-vertical; /* WebKit */
  width:20px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  cursor: pointer;
}



.s {
  color: #c13b38
}

.m {
  color: #88c7d9
}

.sd {
  color: #e7d960
}

.kd  {
  color: #366da3
}

.v {
  color: #992522
}

.l {
  color: #378cab
}

.c {
  color: #78ae5a
}

.mp {
  color: #acc768
}

.fi {
  color: #fab
}

.ö {
  color: #000
}