input[type="range"] {
  appearance: none;
  background: transparent;
  height: 130px;
  transform: rotate(-90deg);
  width: 150px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fff;
  box-shadow: none;
  margin-left: 5px;
  height: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 25px;
  margin-top: -11px;
  width: 25px;
}

.bar {
  z-index: 1;
  opacity: 0.9;
  border-radius: 3px;
}

.slider h3 {
  margin: 0;
}

.slider-s::-webkit-slider-thumb {
  background: #E04B49;
}

.slider-s::-webkit-slider-thumb {
  background: #E04B49;
}

.slider-m::-webkit-slider-thumb {
  background: #2F80ED;
}

.slider-sd::-webkit-slider-thumb {
  background: #F2C94C;
}

.slider-kd::-webkit-slider-thumb {
  background: #3163A6;
}

.slider-v::-webkit-slider-thumb {
  background: #B12827;
}

.slider-l::-webkit-slider-thumb {
  background: #56CCF2;
}

.slider-c::-webkit-slider-thumb {
  background: #27AE60;
}

.slider-mp::-webkit-slider-thumb {
  background: #219653;
}

.slider-fi::-webkit-slider-thumb {
  background: #D96B97;
}

.slider-ö::-webkit-slider-thumb {
  background: #4D4D4D;
}

/* FIREFOX */
input[type="range"]::-moz-range-track {
  background: #fff;
  box-shadow: none;
  margin-left: 5px;
  height: 3px;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 25px;
  margin-top: -11px;
  width: 25px;
}

.slider-s::-moz-range-thumb {
  background: #E04B49;
}

.slider-s::-moz-range-thumb {
  background: #E04B49;
}

.slider-m::-moz-range-thumb {
  background: #2F80ED;
}

.slider-sd::-moz-range-thumb {
  background: #F2C94C;
}

.slider-kd::-moz-range-thumb {
  background: #3163A6;
}

.slider-v::-moz-range-thumb {
  background: #B12827;
}

.slider-l::-moz-range-thumb {
  background: #56CCF2;
}

.slider-c::-moz-range-thumb {
  background: #27AE60;
}

.slider-mp::-moz-range-thumb {
  background: #219653;
}

.slider-fi::-moz-range-thumb {
  background: #D96B97;
}

.slider-ö::-moz-range-thumb {
  background: #4D4D4D;
}

.s {
  color: #E04B49;
}

.m {
  color: #2F80ED;
}

.sd {
  color: #F2C94C;
}

.kd  {
  color: #3163A6;
}

.v {
  color: #B12827;
}

.l {
  color: #56CCF2;
}

.c {
  color: #27AE60;
}

.mp {
  color: #219653;
}

.fi {
  color: #D96B97;
}

.ö {
  color: #4D4D4D;
}

