.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}

.App-footer {
  background-color: #000;
  margin-top: 40px;
  padding: 20px;
  color: white;
  margin-bottom: 0px;
}

.App-footer .logo {
  margin: 20px;
  width: 20vw;
  margin-bottom: 0;
  display: inline-table;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

.App-summary {
  position: absolute;
  top: 210px;
  left: 10vw;
  right: 10vw;
  background: rgba(255,255,255,0.8);
  height: 300px;
  margin: auto;
}



.App label {
  width: 50px;
  display: inline-table;
  color: #444;
}

.App {
  flex-flow: column;
  display: flex;
}

.App .sliders{
  flex-flow: row;
  display: flex;
}

.App section {
  flex: 0.33;
}

.App section span {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App section h3 {
  text-align: left;
  padding: 0 10px;
}

.App .below h3 {
  text-decoration: line-through;
  color: #999;
}

.App input[type=text]{
  width: 2em;
  font-size: 1em;
  border: 0;
  text-align: right;
}

.LegendContainer {
  display: flex;
}

.LegendContainer h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 0 0;
}

.LegendGroup {
  flex-grow: 1;
}

.party.selected{
  margin-left: -30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
