.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

.App label {
  width: 50px;
  display: inline-table;
  color: #444;
}

.App section {
  display: inline-table;
  width: 50%;
}

.App .below h3 {
  text-decoration: line-through;
  color: #999;
}

.App input[type=text]{
  width: 2em;
  font-size: 1em;
  border: 0;
  text-align: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
