body {
  margin: 0;
  padding: 0;
  font-family: 'Miriam Libre', 'Helvetica Neue';
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  font-display: block;
  text-rendering: geometricPrecision;
}

h3 {
  font-size: 1.1em;
}
