input[type="range"]{
	-webkit-appearance: none;
    background: #b8b7b8;
    width: 200px;
    height: 4px;
    border-radius: 4px;
    position: relative;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.2, #007aff),
        color-stop(0.9, #b8b7b8)
    );
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: #666;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  cursor: pointer;
}